@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  label {
    cursor: pointer;
  }

  input,
  select,
  textarea,
  button {
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  mark {
    @apply bg-brand_tint text-brand px-1
  }

  i {
    font-style: normal;
  }
}