/* https://mui.com/material-ui/customization/color/ */

.mui-pink-bd {
  border-color: #e91e63;
}

.mui-pink-bg {
  background-color: #e91e63;
}

.mui-pink-fg {
  color: #e91e63;
}

.mui-red-bd {
  border-color: #f44336;
}

.mui-red-bg {
  background-color: #f44336;
}

.mui-red-fg {
  color: #f44336;
}

.mui-deep-orange-bd {
  border-color: #ff5722;
}

.mui-deep-orange-bg {
  background-color: #ff5722;
}

.mui-deep-orange-fg {
  color: #ff5722;
}

.mui-orange-bd {
  border-color: #ff9800;
}

.mui-orange-bg {
  background-color: #ff9800;
}

.mui-orange-fg {
  color: #ff9800;
}

.mui-amber-bd {
  border-color: #ffc107;
}

.mui-amber-bg {
  background-color: #ffc107;
}

.mui-amber-fg {
  color: #ffc107;
}

.mui-yellow-bd {
  border-color: #ffeb3b;
}

.mui-yellow-bg {
  background-color: #ffeb3b;
}

.mui-yellow-fg {
  color: #ffeb3b;
}

.mui-deep-purple-bd {
  border-color: #673ab7;
}

.mui-deep-purple-bg {
  background-color: #673ab7;
}

.mui-deep-purple-fg {
  color: #673ab7;
}

.mui-purple-bd {
  border-color: #9c27b0;
}

.mui-purple-bg {
  background-color: #9c27b0;
}

.mui-purple-fg {
  color: #9c27b0;
}

.mui-indigo-bd {
  border-color: #3f51b5;
}

.mui-indigo-bg {
  background-color: #3f51b5;
}

.mui-indigo-fg {
  color: #3f51b5;
}

.mui-blue-bd {
  border-color: #2196f3;
}

.mui-blue-bg {
  background-color: #2196f3;
}

.mui-blue-fg {
  color: #2196f3;
}

.mui-light-blue-bd {
  border-color: #03a9f4;
}

.mui-light-blue-bg {
  background-color: #03a9f4;
}

.mui-light-blue-fg {
  color: #03a9f4;
}

.mui-cyan-bd {
  border-color: #00bcd4;
}

.mui-cyan-bg {
  background-color: #00bcd4;
}

.mui-cyan-fg {
  color: #00bcd4;
}

.mui-teal-bd {
  border-color: #009688;
}

.mui-teal-bg {
  background-color: #009688;
}

.mui-teal-fg {
  color: #009688;
}

.mui-green-bd {
  border-color: #4caf50;
}

.mui-green-bg {
  background-color: #4caf50;
}

.mui-green-fg {
  color: #4caf50;
}

.mui-light-green-bd {
  border-color: #8bc34a;
}

.mui-light-green-bg {
  background-color: #8bc34a;
}

.mui-light-green-fg {
  color: #8bc34a;
}

.mui-lime-bd {
  border-color: #cddc39;
}

.mui-lime-bg {
  background-color: #cddc39;
}

.mui-lime-fg {
  color: #cddc39;
}

.mui-brown-bd {
  border-color: #795548;
}

.mui-brown-bg {
  background-color: #795548;
}

.mui-brown-fg {
  color: #795548;
}

.mui-grey-bd {
  border-color: #9e9e9e;
}

.mui-grey-bg {
  background-color: #9e9e9e;
}

.mui-grey-fg {
  color: #9e9e9e;
}

.mui-blue-grey-bd {
  border-color: #607d8b;
}

.mui-blue-grey-bg {
  background-color: #607d8b;
}

.mui-blue-grey-fg {
  color: #607d8b;
}